Program/Library/shadercompiler-UnityShaderCompiler.exe0.log
Program/Temp/UnityLockfile
Program/Library/shadercompiler-UnityShaderCompiler.exe0.log
Program/Library/shadercompiler-UnityShaderCompiler.exe0.log
Program/Temp/__Backupscenes/0.backup
*.log
*.log